<section class="mt-5">
    <div class="container mt-5 mb-5 bg-theme p-5">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum some dummy text is present here, just used for testing purpose dont hesitate to use the dummy
                text. In 2023, we are gonna do something good and acheive the best Lorem ipsum some dummy text is
                present here, just used for testing purpose dont hesitate to use the dummy text. In 2023, we are gonna
                do something good and acheive the just used for testing purpose dont hesitate to use the dummy text. In
                2023, we are gonna do something good and acheive the best Lorem ipsum some dummy text is present here,
                just used for testing purpose dont hesitate to use the dummy text. In 2023, we are gonna do something
                good and acheive the best</p>
            <p>best Lorem ipsum some dummy text is present here, just used for testing purpose dont hesitate to use the
                dummy text. In 2023, we are gonna do something good and acheive the best Lorem ipsum some dummy text is
                present here, just used for testing purpose dont hesitate to use the dummy text. In 2023, we are gonna
                do something good and acheive the best Lorem ipsum some dummy text is present here,</p>
            <p>Lorem ipsum some dummy text is present here, just used for testing purpose dont hesitate to use the dummy
                text. In 2023, we are gonna do something good and acheive the best Lorem ipsum some dummy text is
                present here, just used for testing purpose dont hesitate to use the dummy text. In 2023, we are gonna
                do something good and acheive the best Lorem ipsum some dummy text is present here, just used for
                testing purpose dont hesitate to use the dummy text. In 2023, we are gonna do something good and acheive
                the bestLorem ipsum some dummy text is present here, just used for testing purpose dont hesitate to use
                the dummy text. In 2023, we are gonna do something good and acheive the best Lorem ipsum some dummy text
                is present here, just used for testing purpose dont hesitate to use the dummy text. In 2023, we are
                gonna do something good and acheive the best Lorem ipsum some dummy text is present here, just used for
                testing purpose dont hesitate to use the dummy text. In 2023, we are gonna do something good and acheive
                the best</p>

                <div class="text-center">
                    <button class="btn btn-info btn-theme btn-sm mt-4 text-white">Back to Home</button>
                </div>
        </div>
    </div>
</section>