<div class="card mt-5 shadow">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>
        <form action="" class="row g-3">
            <div class="col-12">
                <label for="">Name</label>
                <input type="text" class="form-control shadow" placeholder="Enter your name here">
            </div>
            <div class="col-12">
                <label for="">Comment</label>
                <textarea cols="30" rows="10" class="form-control" placeholder="Add your comment here"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-info btn-theme text-white">Add a Comment</button>
            </div>
        </form>
    </div>
</div>